body {
    background-color: #EEF2FF;
}

hr {
    background-color: #EEF2FF;
    border-style: dotted none none;
    border-color: #CDDEFF;
    border-width: 5pt;
    width: 5%;
}
li{
  color:#9145B6;
}

p {color:#9145B6;}

tr {color:#6998AB;}

th {
  color:#406882;
}

h1{
  color: #406882;
}
h3{
  color: #676FA3;
}
h4{
  color: #406882;
}
input[type=multiple]{
  padding: 15px;
  border-radius:4px;
  height:50px;
}
